@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alexandria:wght@400;700&family=Kanit&family=Lobster&family=Noto+Sans+JP:wght@400;900&family=Nunito:wght@400;700&family=Padyakke+Expanded+One&family=Poppins&family=Prompt&family=Roboto+Mono&family=Silkscreen:wght@400;700&family=Sono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #212529;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23212529' width='11' height='11'/%3E%3Crect fill='%2322262a' x='10' width='11' height='11'/%3E%3Crect fill='%2322262a' y='10' width='11' height='11'/%3E%3Crect fill='%2323272b' x='20' width='11' height='11'/%3E%3Crect fill='%2324282c' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%2324282d' y='20' width='11' height='11'/%3E%3Crect fill='%2325292d' x='30' width='11' height='11'/%3E%3Crect fill='%23252a2e' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23262b2f' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23272b30' y='30' width='11' height='11'/%3E%3Crect fill='%23272c30' x='40' width='11' height='11'/%3E%3Crect fill='%23282d31' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23292d32' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23292e33' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%232a2f33' y='40' width='11' height='11'/%3E%3Crect fill='%232b2f34' x='50' width='11' height='11'/%3E%3Crect fill='%232b3035' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%232c3136' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%232d3236' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%232d3237' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%232e3338' y='50' width='11' height='11'/%3E%3Crect fill='%232f3439' x='60' width='11' height='11'/%3E%3Crect fill='%232f3439' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%2330353a' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%2331363b' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%2331373c' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%2332373d' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%2333383d' x='70' width='11' height='11'/%3E%3Crect fill='%2333393e' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%2334393f' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23353a40' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23353b40' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23363c41' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23373c42' x='80' width='11' height='11'/%3E%3Crect fill='%23373d43' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23383e44' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%23393f44' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%233a3f45' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%233a4046' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%233b4147' x='90' width='11' height='11'/%3E%3Crect fill='%233c4248' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%233c4248' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%233d4349' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%233e444a' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%233e454b' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%233f454c' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%2340464c' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%2340474d' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%2341484e' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%2342484f' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%23434950' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%23434a50' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%23444b51' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23454b52' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23454c53' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23464d54' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%23474e55' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%23484e55' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%23484f56' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23495057' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    color: #FAF7F0;
}

.gallery {
    max-width: 1200px;
    margin: 10px auto 120px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    padding: 0 14px;
}

.gallery::after {
    content: '';
    display: block;
    flex-grow: 10;
}

.gallery-item {
    height: 250px;
    flex-grow: 1;
}

.newOnes {
    max-width: 1200px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
    padding: 20px 14px;
}

.newOnes::after {
    content: '';
    display: block;
    flex-grow: 10;
}


.modal {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161215;
    transition: opacity .2s ease, visibility .2s ease, transform .3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 950;
}

.modal.open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.img-title {
    z-index: 999;
    font-family: 'Poppins', cursive;
}

q {
    quotes: "« " " »";
}

q::before {
    content: open-quote;
}

q::after {
    content: close-quote;
}

.cl-userButtonAvatarBox {
    width: 60px;
    height: auto;
}

.admin {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: #FAF7F0;
    border-radius: 10px;
}

.artwork-preview {
    max-width: 300px;
}

.artwork-preview img {
    width: 100%;
}

.skeleton {
    opacity: .7;
    animation: skeleton-loading .5s linear infinite alternate;
}
@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 50%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}

/*MYCAROUSEL PART*/
.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-controls button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}


