@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alexandria:wght@400;700&family=Kanit&family=Lobster&family=Noto+Sans+JP:wght@400;900&family=Nunito:wght@400;700&family=Padyakke+Expanded+One&family=Poppins&family=Prompt&family=Roboto+Mono&family=Sono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #161215;
    color: #FAF7F0;
    font-family: 'Nunito', sans-serif;
}

.gallery {
    max-width: 1200px;
    margin: 10px auto 120px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    padding: 0 14px;
}

.gallery::after {
    content: '';
    display: block;
    flex-grow: 10;
}

.newOnes {
    max-width: 1200px;
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
    padding: 20px 14px;
}

.newOnes::after {
    content: '';
    display: block;
    flex-grow: 10;
}


.gallery-item {
    height: 250px;
    flex-grow: 1;
}

.modal {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161215;
    transition: opacity .2s ease, visibility .2s ease, transform .3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    overflow: hidden;
    z-index: 950;
}

.modal.open {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.img-title {
    z-index: 999;
    font-family: 'Noto Sans JP', cursive;
}

q {
    quotes: "« " " »";
}

q::before {
    content: open-quote;
}

q::after {
    content: close-quote;
}

.cl-userButtonAvatarBox {
    width: 60px;
    height: auto;
}

.admin {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: #FAF7F0;
    border-radius: 10px;
}

.artwork-preview {
    max-width: 300px;
}

.artwork-preview img {
    width: 100%;
}


